<div class="row mt-4">
     
    <div class="col-md-offset-1 col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">
                        {{!-- <a href="/farmstay/create" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New</a> --}}
                        <!-- Button trigger modal -->
                        <a href = "/farmstay" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <h3 class="text-warning">Thùng Rác</h3>
                        
                    </div>
                    {{!-- <div class="col-sm-2 col-xs-2">
                        <form class="form-horizontal pull-right">
                            <div class="form-group">
                                <label>Show : </label>
                                <select class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                            </div>
                        </form>
                    </div> --}}

                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Người quản lý</th>
                            <th>Giá thuê</th>
                            <th>Trạng thái</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each farmstays}}
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li>
                                            <a 
                                                data-id="{{this.id}}",
                                                class="btn btn-primary restore-farmstay">
                                                <i class="fas fa-undo"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-name="{{this.name}}" data-id="{{this.id}}" class="btn btn-danger delete-force-farmstay" data-toggle="modal" data-target="#modalDeleteForceFarmstay">
                                            <i class="fas fa-times-circle"></i></a>
                                        </li>
                                    </ul>
                                </td>
                                <td>{{sum @index 1}}</td>
                                <td>{{this.name}}</td>
                                {{#if this.management_staff}}
                                    <td>{{this.management_staff.name}}</td>
                                {{else}}
                                    <td>Chưa có</td>
                                {{/if}}
                                
                                <td>{{this.rent_cost_per_day}}</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fas fa-check-circle"></i></a></td>
                                
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="7" class="text-center">
                                    Thùng rác rỗng
                                </td>
                            </tr>
                        {{/each}}
                        
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">showing <b>5</b> out of <b>25</b> entries</div>
                    <div class="col-sm-4 col-xs-4">
                        <ul class="pagination hidden-xs pull-right pag">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                        {{!-- <ul class="pagination visible-xs pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">»</a></li>
                        </ul> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="formRestoreFarmstay" class="sr-only" action="/farmstay/trash?_method=PUT" method="POST">
        <input class="sr-only" id="inputIdRestoreFarmstay" name="id" type="text">
    </form>
    
    <!-- Modal -->
    <div class="modal fade" id="modalDeleteForceFarmstay" tabindex="-1" role="dialog" aria-labelledby="modalDeleteForceFarmstayLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteForceFarmstayLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger modal-title-danger" role="alert">
                        Bạn có muốn xóa <a class="alert-link"></a> vĩnh viễn không?
                    </div>
                    <form id="formDeleteForceFarmstay" method="POST"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnDeleteForceFarmstay"type="button" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> js}}
<script>

    $( document ).ready(function(){
        (function($){
            $('.restore-farmstay').click(function(){
                const id  = this.getAttribute("data-id");
                $('#inputIdRestoreFarmstay').val(id)
                $('#formRestoreFarmstay').submit();
            })
         })(jQuery);


        (function($){
            $('#btnDeleteForceFarmstay').on('click', function (e) {
                const id = e.target.getAttribute('data-id-delete')
                $('#formDeleteForceFarmstay').attr('action', `/farmstay/trash?_method=DELETE&farmstay_id=${id}`);
                $('#formDeleteForceFarmstay').submit();
                
            })
         })(jQuery);

        (function($){
            $('#modalDeleteForceFarmstay').on('show.bs.modal', function (e){
                var button = $(e.relatedTarget) // Button that triggered the modal
                let id = button.data('id')
                $('#btnDeleteForceFarmstay').attr('data-id-delete', id);
                
            });
        })(jQuery);

        (function($){
            $('.delete-force-farmstay').click(function(){  
                let name = this.getAttribute("data-name");
                
                //$('#modalDeleteEquipment').modal('show');
                $('.modal-title-danger .alert-link').text(name)
            });
        })(jQuery);
    });

        
</script>